[submodule "invesdwin-context"]
	path = invesdwin-context
	url = https://github.com/subes/invesdwin-context.git
	branch = master
[submodule "invesdwin-bom"]
	path = invesdwin-bom
	url = https://github.com/subes/invesdwin-bom.git
	branch = master
[submodule "invesdwin-maven-plugin"]
	path = invesdwin-maven-plugin
	url = https://github.com/subes/invesdwin-maven-plugin.git
	branch = master
[submodule "invesdwin-util"]
	path = invesdwin-util
	url = https://github.com/subes/invesdwin-util.git
	branch = master
[submodule "invesdwin-nowicket"]
	path = invesdwin-nowicket
	url = https://github.com/subes/invesdwin-nowicket.git
	branch = master
[submodule "invesdwin-norva"]
	path = invesdwin-norva
	url = https://github.com/subes/invesdwin-norva.git
	branch = master
[submodule "invesdwin-aspects"]
	path = invesdwin-aspects
	url = https://github.com/subes/invesdwin-aspects.git
	branch = master
[submodule "invesdwin-instrument"]
	path = invesdwin-instrument
	url = https://github.com/subes/invesdwin-instrument.git
	branch = master
[submodule "invesdwin-checkstyle-plugin"]
	path = invesdwin-checkstyle-plugin
	url = https://github.com/subes/invesdwin-checkstyle-plugin.git
	branch = master
[submodule "invesdwin-context-persistence"]
	path = invesdwin-context-persistence
	url = https://github.com/subes/invesdwin-context-persistence.git
	branch = master
[submodule "invesdwin-context-security"]
	path = invesdwin-context-security
	url = https://github.com/subes/invesdwin-context-security.git
	branch = master
