[submodule "invesdwin-context"]
	path = invesdwin-context
	url = https://github.com/invesdwin/invesdwin-context.git
[submodule "invesdwin-bom"]
	path = invesdwin-bom
	url = https://github.com/invesdwin/invesdwin-bom.git
[submodule "invesdwin-maven-plugin"]
	path = invesdwin-maven-plugin
	url = https://github.com/invesdwin/invesdwin-maven-plugin.git
[submodule "invesdwin-util"]
	path = invesdwin-util
	url = https://github.com/invesdwin/invesdwin-util.git
[submodule "invesdwin-nowicket"]
	path = invesdwin-nowicket
	url = https://github.com/invesdwin/invesdwin-nowicket.git
[submodule "invesdwin-norva"]
	path = invesdwin-norva
	url = https://github.com/invesdwin/invesdwin-norva.git
[submodule "invesdwin-aspects"]
	path = invesdwin-aspects
	url = https://github.com/invesdwin/invesdwin-aspects.git
[submodule "invesdwin-instrument"]
	path = invesdwin-instrument
	url = https://github.com/invesdwin/invesdwin-instrument.git
[submodule "invesdwin-checkstyle-plugin"]
	path = invesdwin-checkstyle-plugin
	url = https://github.com/invesdwin/invesdwin-checkstyle-plugin.git
[submodule "invesdwin-context-persistence"]
	path = invesdwin-context-persistence
	url = https://github.com/invesdwin/invesdwin-context-persistence.git
[submodule "invesdwin-context-security"]
	path = invesdwin-context-security
	url = https://github.com/invesdwin/invesdwin-context-security.git
[submodule "invesdwin-context-integration"]
	path = invesdwin-context-integration
	url = https://github.com/invesdwin/invesdwin-context-integration.git
[submodule "invesdwin-context-client"]
	path = invesdwin-context-client
	url = https://github.com/invesdwin/invesdwin-context-client.git
[submodule "invesdwin-webproxy"]
	path = invesdwin-webproxy
	url = https://github.com/invesdwin/invesdwin-webproxy.git
[submodule "dependencies/license-check"]
	path = dependencies/license-check
	url = https://github.com/subes/license-check.git
[submodule "dependencies/javaoctave"]
	path = dependencies/javaoctave
	url = https://github.com/subes/javaoctave.git
[submodule "dependencies/ezdb"]
	path = dependencies/ezdb
	url = https://github.com/criccomini/ezdb.git
[submodule "dependencies/jdeoptim"]
	path = dependencies/jdeoptim
	url = https://github.com/subes/jdeoptim.git
[submodule "dependencies/pom-explorer"]
	path = dependencies/pom-explorer
	url = https://github.com/subes/pom-explorer.git
[submodule "dependencies/juliacaller"]
	path = dependencies/juliacaller
	url = https://github.com/subes/juliacaller.git
[submodule "dependencies/maven-enforcer"]
	path = dependencies/maven-enforcer
	url = https://github.com/subes/maven-enforcer.git
[submodule "dependencies/fast-serialization"]
	path = dependencies/fast-serialization
	url = https://github.com/subes/fast-serialization.git
[submodule "dependencies/t-digest"]
	path = dependencies/t-digest
	url = https://github.com/subes/t-digest.git
[submodule "dependencies/DockingFrames"]
	path = dependencies/DockingFrames
	url = https://github.com/subes/DockingFrames.git
[submodule "dependencies/dynamicreports"]
	path = dependencies/dynamicreports
	url = https://github.com/subes/dynamicreports.git
[submodule "dependencies/sardine"]
	path = dependencies/sardine
	url = https://github.com/subes/sardine.git
[submodule "invesdwin-scripting"]
	path = invesdwin-scripting
	url = https://github.com/invesdwin/invesdwin-scripting.git
[submodule "dependencies/JCOOL"]
	path = dependencies/JCOOL
	url = https://github.com/subes/JCOOL.git
